.container{
	background-color: black !important;
	width: 75%;
}
.page-header{
	border-bottom: solid #EEE 0.5px;
}
.logo{
	margin-left: 20%;
}
.panel-body{
	background-color: black !important;
	color: white;
	color: #FFF !important;
}
#slides{
	margin-top: 5%;
	max-width: 100%;
}
.lista, .item{
	list-style: none;
	text-decoration: none;
	display: inline-block;
	font-size: 100%;
}
.lista{
	margin-left: 25%;
}
.item{
	margin-left: 10px;	
}
.item > a, .item > a:link{
	text-decoration: none;
	list-style: none;
	color: white;
	font-style: none;
}
.item > a:hover{
	color: #0071BC;
}
.lista-box, .item-box{
	list-style: none;
	text-decoration: none;
	display: inline-block;
	
}
.quem-somos, .visao{
	font-size: 200%;
}
.panel-empresa{
	border: 0px !important;
	/*color: blue !important;*/
}
.icon{
	width: 10%;
	margin-right: 3%;
}
.panel > .panel-heading{
	color: black;
	font-size: 16px;
}
.camara{
	margin-left: 15%;
}
.investimentos > .panel > a {
	text-decoration: none;
	font-style: none;
}
.investimentos > .panel > .panel-body > img, img{
	max-width: 100%;
}
blockquote{
	color: white;
}
.body-imoveis{
	background-color: #EEE !important;
	color: black !important;
}
.imagem-body:hover{
	opacity:0.30;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
	background-color: blue;
}
.color-white{
	color: white;
}
.texto-sobre a img{

}
.texto-sobre a .span{
	/*width: 100%;*/
	display: none;
	color: white;
	bottom: 40%;
	font-size: 12px;
	padding-left: 7% !important;
}
.texto-sobre a:hover .span {
	position: absolute;
	display: block;
}